@font-face {
    font-family: 'iconic-sm';
    src: url('../node_modules/open-iconic/font/iconic-sm.eot');
}

.jumbotron {
    background-color: burlywood;
    color: black;
    margin-top: 50px;
}

.btn {

}

footer {
    padding: 10px 10px 0 10px;
    background-color: burlywood;
    margin-bottom: 0px;
    margin-top: 30px;
}

.card-hotel {
    padding: 17px 12px 17px 12px;
    height: 100%;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;

}